  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ajouter client</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Ajouter client</li>
            </ol>
          </div>
        </div>

        {{#if alert}}


<div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h5><i class="icon fas fa-check"></i> Alert!</h5>
  {{alert}}
                </div>
{{/if}}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form method="post" action="/addclient" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="nomClient">Nom complet</label>
                <input type="text" name="nomClient" class="form-control">
              </div>
              <div class="form-group">
                <label for="adresse">Adresse de livraison</label>
                <textarea name="adresse" class="form-control" rows="4"></textarea>
              </div>
              <div class="form-group">
                <label for="phone">Telephone</label>
                <input type="text" name="phone" class="form-control">
              </div>
                <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="facebook">Compte facebook</label>
                <input type="text" name="facebook" class="form-control">
              </div>
              <div class="form-group">
                <label for="instagram">Compte Instagram</label>
                <input type="text" name="instagram" class="form-control">
              </div>
           
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Membership</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                <label for="membership">Type membership</label>
                <select name="idMembership" class="form-control custom-select">
                  <option selected disabled>Choisir le type</option>
                  <option value="1">None</option>
                  <option value="2">Silver</option>
                  <option value="3">Gold</option>
                  <option value="4">Platinum</option>
                  <option value="5"> Ultimate</option>
                </select>
              </div>
              <div class="form-group">
                <label for="points">Points</label>
                <input type="number" name="points" class="form-control">
              </div>
              <div class="form-group">
                <label for="expiryDate">Date d'expiration</label>
                <input type="date" name="expiryDate"  class="form-control">
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <input type="reset"  value="annuler" class="btn btn-secondary">
          <input type="submit" value="ajouter client" class="btn btn-success float-right">
        </div>
      </div>

      </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
